.cuerpoCards{
    background-image: url("../../assets/imagenes/img16.png");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: auto;
	height: 100vh;
	margin: 0;
	padding: 0; 
}

.grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px; 
	text-align: center; 
	width: auto;
	height: auto;
}