.paginaHeroes{
	background-image: url("../../assets/imagenes/img9.jpg");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px; 
	text-align: center; 
}

.grid div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid img {
	width: 150px; 
	height: auto; 
}


