.paginaModos {
	background-image: url("../../assets/imagenes/img18.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.tituloModo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-family: "MedievalSharp", cursive;
	color: #df9a31;
	text-shadow: 3px 3px 0px black;
}

.imgFormatClassic {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.txt {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	font-family: "MedievalSharp", cursive;
	color: #ff7e1c;
	text-shadow: 3px 3px 0px black;
}

.grid {
	justify-content: start;
	align-content: start;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px; 
}

.formatTitle{
	font-size: 50px;
	font-family: "MedievalSharp", cursive;
	color: rgb(255, 98, 0);
	text-shadow: 2px 2px 2px black;
}

.descripcion{
	font-size: 30px;
	font-family: "MedievalSharp", cursive;
	color: rgb(255, 175, 55);
	text-shadow: 2px 2px 0px black;
}