body {
	background-image: url("../assets/imagenes/img4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: auto;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.texto {
	font-family: "MedievalSharp", cursive;
	font-weight: 60;
	font-style: normal;
	text-align: center;
	font-size: 100px;
	color: #d78107;
}
