.nav {
    background-color: black;
    width: calc(100% - 10px);
    margin: 0 auto; 
    box-sizing: border-box; 
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.boton{
    font-family: "MedievalSharp", cursive;;
}


